.BG{
  background-image: url('../img/home.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
img{
  max-width: 400px;
}
.col-9{
  background-color: black;
  color: #f9fafb;
  margin: 0px;
  padding: 0px;
}
.col-3{
  background-size: 300px;
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 25px;
  right: 110px;
}
body{
  background-color: black;
}
div.VäljDatum{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0px;
  width: auto;
  color: #f9fafb;
  background-color: transparent;
  font-weight: bold;
}
