.BG {
  background-image: url('../img/home.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

img {
  margin-top: 20px;
  max-width: 400px;
}

.col-9 {
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: white;
}

.VäljDatum {
  text-align: center;
  padding-top: 18%;
}

.col-12 {
  background-color: white;
  color: black;
  margin: 0px;
  padding: 0px;
}


label {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px;
  margin-right: 10px;
}
